<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.modular.system.dao.NewsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.modular.system.model.News">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="title_md5" property="titleMd5" />
        <!--<result column="content" property="content" />-->
        <result column="publish_time" property="publishTime" />
        <result column="short_content" property="shortContent" />
        <result column="small_image" property="smallImage" />
        <result column="source" property="source" />
        <result column="source_url" property="sourceUrl" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, title, title_md5 AS titleMd5, publish_time AS publishTime, short_content AS shortContent, small_image AS smallImage,source, source_url AS sourceUrl, create_time AS createTime
    </sql>

    <select id="countByTitleMd5" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM sys_news
        WHERE title_md5 = #{titleMd5}
    </select>

    <select id="getContentById" resultType="java.lang.String">
        SELECT content FROM sys_news
        WHERE id = #{id}
    </select>

</mapper>
